@page
@model Server.Pages.IndexModel
@{
	var pageTitle = PageTitles.Index;

	ViewData["Title"] = pageTitle;
}

<h3>
	@(pageTitle)
</h3>

<hr />

<div class="row">
	<div class="col">
		@(DataDictionary.SourceCode)

		<br />

		<div dir="ltr">
			<a href="https://github.com/Dariush-Tasdighi/Learning-ASP.NET-Core-Razor-Pages-02" target="_blank">
				https://github.com/Dariush-Tasdighi/Learning-ASP.NET-Core-Razor-Pages-02
			</a>
		</div>
	</div>
</div>

<hr />